.bloqueHead {
  background-color: #a6b8a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  color: #fff;
}

.bloqueHead h1 {
}

.bloqueHead h3 {
}

.bloqueHead p {
}

.bloqueHead button {
  background-color: #77876e;
  color: #ffff;
  width: 200px;
  height: 50px;
  border-radius: 35px;
  border: solid 1.5px black;
  transition: all 0.2s;
}

.bloqueHead button:active {
  transform: translateY(2px);
  border-width: 2px;
  background-color: #ffffff2c;
  width: 190px;
  color: #000000;
}

.bloqueHead2 {
  display: flex;
  background: #e9cfc0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 300px;
  position: relative;
}

.bloqueHead2 p {
  width: 500px;
}
