.suscribe {
  background-color: #3b5049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  margin: 0 auto;
  color: white;
}

.text {
  margin-right: 2vw;
  letter-spacing: 4px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.formuSuscribe {
  display: flex;
  flex-direction: row;
  /* margin-right: 40%; */
}

.inputSuscribe {
  width: 34vw;
  height: 3.5vh;
  margin-right: 1vw;
}

.btnSuscribe {
  background-color: transparent;
  color: white;
  border: 1.3px solid white;
  width: 100px;
  height: 35px;
  /* margin-left: 20px; */
  transition: all 0.2s;
}

.btnSuscribe:active {
  transform: translateY(2px);
  border-width: 2px;
}

.copyright {
  background-color: #383838;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5vh;
}

.copyright p {
  color: white;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}
