.bloqueForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background: #a6b8a8;
}

.rowForm {
  flex-direction: row;
}
