.bloqueForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  background-color: #a6b8a8;
  width: 100vw;
  height: 40vh;
}

.formContainer {
  width: auto;
  margin-left: 20vw;
}

.name-mail {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.name-mail input {
  width: 14vw;
  height: 2.5vh;
}

.childrenName {
  display: flex;
  flex-direction: column;
}

.childrenMail {
  display: flex;
  flex-direction: column;
}

.childrenName input {
  width: 14vw;
  height: 2.5vh;
}

.childrenPais {
  display: flex;
  flex-direction: column;
}

.childrenPais input {
  width: 14vw;
  height: 2.5vh;
}

.childrenText {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.childrenText textarea {
  width: 29vw;
  height: 15vh;
  margin: 2px;
}

.icons {
  display: flex;
  flex-direction: column;
}

.imgLogo {
  margin-bottom: 50px;
}

.redesLink {
  display: flex;
  flex-direction: column;
}

.redesLink a {
  margin-top: 10px;
  text-decoration: none;
  color: #000000;
}

.logoMail {
  width: 1.5vw;
  margin-right: 15px;
}

.logoInstagram {
  width: 1.5vw;
  margin-right: 15px;
}

.logoPinterest {
  width: 1.5vw;
  margin-right: 15px;
}
